<!doctype html>
<html>
  <head>
    <title>About <%=appData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <nav class="topnav">
      <ul>
        <li><a href="./"><%=appData.appName%></a></li>
        <li><a href="list">Lists</a></li> <!--todo-->
        <li><a href="search">Search</a></li> <!--todo-->
        <li><a href="menus/editlist">Edit Menus</a></li> <!--todo-->
        <li><a href="menus/create">Create</a></li>
        <li><a class="active" href="about">About</a></li>
      <!--if no user, show login-->
      <% if(user == null){ %>
          <li class="right"><a href="users/login">Log in</a></li>
      <!--if user exists, show logout-->
      <% } else { %>
          <li class="right"><a href="logout">Logout</a></li>
          <% } %>
      </ul>
    </nav>
    <main>
      <div>
        <h1>About <%=appData.appName%></h1>
        <p>Cocktail Canvas is your all in one home for designing your next cocktail menu. 
        Keep track of menus you've made previously, 
        get highlights on your menu as you build it with insight on glassware and spirit bases, 
        and effortlessly create drinks or search the web for recipes and ideas!</p>
      </div>
      <hr>
      <!--about stats-->
      <div class="stat-block">
        <!--User stat section-->
        <p class="stat-heading">Users: <%=user_count%></p>

        <!--menu stat section-->
        <p class="stat-heading">Menus: <%=menu_count%></p>

        <!--drink stat section-->
        <p class="stat-heading">Drinks: <%=drink_count%></p>
        <hr>
      </div>
    </main>
  </body>
</html>