<!doctype html>
<html>
  <head>
    <title>Search results: Cocktail Canvas<%=appData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <script src="/listscripts.js"></script>
  </head>
  <body>
    <nav class="topnav">
      <ul>
        <li><a href="./"><%=appData.appName%></a></li>
        <li><a href="list">Lists</a></li> <!--todo-->
        <li><a class="active" href="search">Search</a></li> <!--todo-->
        <li><a href="menus/editlist">Edit Menus</a></li> <!--todo-->
        <li><a href="menus/create">Create Menu</a></li>
        <li><a href="about">About</a></li>
      <!--if no user, show login-->
      <% if(user == null){ %>
          <li class="right"><a href="users/login">Log in</a></li>
      <!--if user exists, show logout-->
      <% } else { %>
          <li class="right"><a href="logout">Logout</a></li>
          <% } %>
      </ul>
    </nav>
    <!--top nav header with login bar based on session data-->
    <main>
      <% if(user != null) { %>
        <h2>Welcome back <%=user%>!</h2>
      <% } %>
      <div class="flex-container centred">
        <h1 id="search-heading" class="heading">Search results:</h1>
        <!--if search result is users-->
        <% if (type == 'user') { %>
          <div id="user-list-div" class="list-div" style="display: block;">
            <p class="stat-heading">Total users: <%= results.length %></p>
            <ul>
              <% for (let i = 0; i < results.length; i++) { %>
                <li>
                  <div class="user-div">
                    <p class="username">
                      <%= results[i].username ? results[i].username : 'N/A' %>
                    </p>
                    <p>
                      Company:
                      <%= results[i].company ? results[i].company : 'N/A' %>
                    </p>
                    <p>
                      Name:
                      <%= results[i].firstName && results[i].lastName
                            ? results[i].firstName + ' ' + results[i].lastName
                            : 'N/A'
                      %>
                    </p>
                    <p>
                      Email:
                      <%= results[i].email ? results[i].email : 'N/A' %>
                    </p>
                  </div>
                </li>
              <% } %>
            </ul>
          </div>

        <!--if search result is menus-->
        <% } else if (type === 'menu') { %>
          <div id="menu-list-div" class="list-div" style="display: block;">
            <p class="stat-heading">Total menus: <%= results.length %></p>
            <ul>
              <% for (let i = 0; i < results.length; i++) { %>
                <li>
                  <a
                    class="menu-link"
                    href="/menus/view?menuId=<%= results[i].menu_id %>"
                  >
                    <div class="menu-div">
                      <p class="menu-name">
                        <%= results[i].menu_name ? results[i].menu_name : 'N/A' %>
                      </p>
                      <p>
                        <%= results[i].menu_desc ? results[i].menu_desc : 'No menu description.' %>
                      </p>
                    </div>
                  </a>
                </li>
              <% } %>
            </ul>
          </div>

        <!--if search result is drinks-->
        <% } else if (type === 'drink') { %>
          <div id="drink-list-div" class="list-div" style="display: block;">
            <p class="stat-heading">Total drinks: <%= results.length %></p>
            <ul>
              <% for (let i = 0; i < results.length; i++) { %>
                <li>
                  <div
                    id="drink-div<%= i %>"
                    class="cocktail-item-div"
                    activeNow="0"
                  >
                    <p class="cocktail-item-name">
                      <%= results[i].drink_name ? results[i].drink_name : 'N/A' %>
                    </p>
                    <button
                      id="show-drink-button<%= i %>"
                      class="drink-button"
                      onclick="toggleCocktail(
                        'drink-div<%= i %>',
                        'show-drink-button<%= i %>',
                        'hide-drink-button<%= i %>'
                      )"
                    >
                      v
                    </button>
                    <div class="left-flex">
                      <p
                        id="drink-method<%= i %>"
                        class="cocktail-item-method"
                        style="display: none"
                      >
                        Method:
                        <%= results[i].drink_method ? results[i].drink_method : 'N/A' %>
                      </p>
                      <p
                        id="drink-glass<%= i %>"
                        class="cocktail-item-glass"
                        style="display: none"
                      >
                        Glass:
                        <%= results[i].drink_glass ? results[i].drink_glass : 'N/A' %>
                      </p>
                      <ul
                        id="drink-ingrs<%= i %>"
                        class="cocktail-item-ingrlist"
                        style="display: none"
                      >
                        <% if (results[i].ingredients && results[i].measurements) { %>
                          <% for (let j = 0; j < results[i].ingredients.length; j++) { %>
                            <li class="ingredient-list-item">
                              <p class="ingredient-list-item">
                                <%= results[i].ingredients[j] %>
                                :
                                <%= results[i].measurements[j] %>
                              </p>
                            </li>
                          <% } %>
                        <% } else { %>
                          <li>No ingredients or measurements found for this drink.</li>
                        <% } %>
                      </ul>
                    </div>
                    <button
                      id="hide-drink-button<%= i %>"
                      class="drink-button"
                      onclick="toggleCocktail(
                        'drink-div<%= i %>',
                        'show-drink-button<%= i %>',
                        'hide-drink-button<%= i %>'
                      )"
                      style="display: none"
                    >
                      ^
                    </button>
                  </div>
                </li>
              <% } %>
            </ul>
          </div>

        <!--if unknown type-->
        <% } else { %>
          <p>Error: Unknown result type.</p>
        <% } %>
      </div> 
    </main>
  </body>
</html>
